<!DOCTYPE html>
<html lang="pt-br" ng-app="list">
<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
	<link rel="stylesheet" href="app/css/style.css">
</head>
<body>
	<div ng-controller="listCtrl">
		<form name="form" ng-submit="addTodo()">
			<input type="text" name="newtodo" ng-model="newTodo" required/>
			<button ng-disabled="form.$invalid">GO</button>
		</form>
		<button ng-click="clear()">excluir</button>
		<ul>
			<li ng-repeat="todo in todos">
			<input type="checkbox" ng-model="todo.done">
			<span ng-class="{'done':todo.done}">{{todo.title}}</span>
			</li>
		</ul>

	</div>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="app/app.js"></script>
	<script src="app/ListController.js"></script>

</body>
</html>